[Unit]
Description=My Sample Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Desktop/TemperatureLogger/Sensors-Microservice/data_generator.py 2>&1

[Install]
WantedBy=multi-user.target
